<template>
    <div class="mx-4">
        <ManageAddFormInput class="mb-2" placeHolderText='やること名称' @updateInputText="getPlayName" />
        <ManageAddFormInput class="mb-2" placeHolderText='サイトURL' />
        <ManageAddFormSelect class="mb-2" selectBoxLavelProp='人数' :selectMapProp=peopleMap
            :selectValueProp=store.state.peopleAddtVal @updateSelectValue="peopleEmit" />
        <ManageAddFormSelect class="mb-2" selectBoxLavelProp='天気' :selectMapProp=weatherMap
            :selectValueProp=store.state.weatherAddVal @updateSelectValue="weatherEmit" />
        <ManageAddFormSelect class="mb-2" selectBoxLavelProp='場所' :selectMapProp=placeMap
            :selectValueProp=store.state.placeAddVal @updateSelectValue="placeEmit" />
        <ManageAddFormSelect class="mb-2" selectBoxLavelProp='ジャンル' :selectMapProp=genreMap
            :selectValueProp=store.state.genreAddVal @updateSelectValue="genreEmit" />
        <ManageAddFormInput placeHolderText='説明' />
    </div>
</template>

<script setup lang="ts">
import { ref } from 'vue'
import { useStore } from "vuex";
import { ApiService } from "@/service/ApiService"
import ManageAddFormInput from '@/components/parts/manageAdd/ManageAddFormInput.vue';
import { ConditionsData } from '@/model/ConditionsData';
import { SearchRequest } from '@/model/SerachRequest'
import ManageAddFormSelect from '@/components/parts/manageAdd/ManageAddFormSelect.vue';

// インスタンス
const apiService = new ApiService();
const store = useStore();

const searchRequest = ref<SearchRequest>(new SearchRequest());

const genreMap = ref<Map<number, string>>(new Map);
const placeMap = ref<Map<number, string>>(new Map);
const peopleMap = ref<Map<number, string>>(new Map);
const weatherMap = ref<Map<number, string>>(new Map);

apiService.getConditionsData().then((ret: ConditionsData) => {
    ret.genreList?.forEach((genre) => {
        if (genre.genreId != 99) {
            genreMap.value.set(genre.genreId, genre.genreName);
        }
    })
    ret.peopleList?.forEach((people) => {
        if (people.peopleId != 99) {
            peopleMap.value.set(people.peopleId, people.peopleName);
        }
    })
    ret.placeList?.forEach((place) => {
        if (place.placeId != 99) {
            placeMap.value.set(place.placeId, place.placeName);
        }
    })
    ret.weatherList?.forEach((weather) => {
        if (weather.weatherId != 99) {
            weatherMap.value.set(weather.weatherId, weather.weatherName);
        }
    })
});


const getPlayName = (value: string) => {
    console.log(value);
}

/**
 * 人数取得
 * @param value 
 */
const peopleEmit = (value: number) => {
    console.log(value);
    store.commit("setPeopleAddVal", value);
}

/**
 * 天気取得
 * @param value 
 */
const weatherEmit = (value: number) => {
    console.log(value);
    store.commit("setWeatherAddVal", value);
    searchRequest.value.weatherVal = value;
}

/**
 * 場所取得
 * @param value 
 */
const placeEmit = (value: number) => {
    console.log(value);
    store.commit("setPlaceAddVal", value);
    searchRequest.value.placeVal = value;
}
/**
 * ジャンル取得
 * @param value 
 */
const genreEmit = (value: number) => {
    console.log(value);
    store.commit("setGenreAddVal", value);
    searchRequest.value.genreVal = value;
}


</script>

<style>
.searchField {
    margin-bottom: 64px;
}
</style>