<template>
    <button v-on:click="buttonFunc" type="button" class="btn btn-primary m-4">{{ props.buttonLavelProp }}</button>
</template>

<script setup lang="ts">
import { defineProps, defineEmits, withDefaults } from 'vue';

// Props
const props = withDefaults(
    defineProps<{
        buttonLavelProp: string,
    }>(),
    {
        buttonLavelProp: '',
    }
);

// emit
const emit = defineEmits<{
    (e: 'subButtonEmit'): any,
}>();

const buttonFunc = () => {
    emit('subButtonEmit');
}

</script>