<template>
    <div class="card-body input-form">
        <i :class="props.inputIcon"></i>
        <ion-item color="secondary">
            <ion-input :placeholder="props.placeHolderText" v-model="modelInputValue"></ion-input>
        </ion-item>
    </div>
</template>

<script setup lang="ts">
import { defineProps, defineEmits, withDefaults, ref, computed } from 'vue';
import { IonInput, IonItem } from '@ionic/vue';

// Props
const props = withDefaults(
    defineProps<{
        placeHolderText: string,
        inputIcon: string,
    }>(),
    {
        placeHolderText: '',
        inputIcon: '',
    }
);

// emit
const emit = defineEmits<{
    (e: 'updateInputText', value: string): string,
}>();
const modelInputValue = computed({
    get: () => '',
    set: (value: string) => {
        emit('updateInputText', value);
    },
});
</script>

<style lang="scss">
.input-form {
    display: flex;
    align-items: flex-end;

    i {
        font-size: 1.4em;
        color: #818181;
        margin-bottom: 8px;
    }
}
</style>