<template>
    <div class="search-result-modal">
        <q-dialog v-model="modalFlag" persistent transition-show="flip-down" transition-hide="flip-up" position="top">
            <div class="q-ma-md">
                <q-card class="bg-deep-purple text-white">
                    <q-bar>
                        <q-icon name="error_outline" />
                        <div>入力エラー</div>

                        <q-space />

                        <q-btn dense flat icon="close" v-close-popup>
                            <q-tooltip class="bg-white text-primary">Close</q-tooltip>
                        </q-btn>
                    </q-bar>

                    <q-card-section>
                        <div class="text-h6">以下内容をご確認ください。</div>
                    </q-card-section>

                    <q-card-section class="q-pt-none" v-html="errorMsg">
                    </q-card-section>
                </q-card>

            </div>
        </q-dialog>
        <q-dialog v-model="confirmModalFlag" persistent position="top">
            <div class="q-ma-md">
                <q-card>
                    <q-card-section class="row items-center">
                        <q-avatar icon="library_add_check" color="primary" text-color="white" />
                        <span class="q-ml-sm">登録内容確認</span>
                    </q-card-section>
                    <q-card-section class="row items-center">
                        <q-list>
                            <q-item clickable v-ripple>
                                <q-item-section>
                                    <q-item-label class="text-bold">やること名称</q-item-label>
                                    <q-item-label caption>{{ playInfoAddObject.playInfoName }}</q-item-label>
                                </q-item-section>
                            </q-item>
                            <q-separator spaced inset />
                            <q-item clickable v-ripple>
                                <q-item-section>
                                    <q-item-label class="text-bold">サイトURL</q-item-label>
                                    <q-item-label caption>{{ playInfoAddObject.playInfoSiteUrl }}</q-item-label>
                                </q-item-section>
                            </q-item>
                            <q-separator spaced inset />
                            <q-item clickable v-ripple>
                                <q-item-section>
                                    <q-item-label class="text-bold">イメージURL</q-item-label>
                                    <q-item-label caption>{{ playInfoAddObject.playInfoImageUrl }}</q-item-label>
                                </q-item-section>
                            </q-item>
                            <q-item clickable v-ripple>
                                <q-item-section>
                                    <q-item-label class="text-bold">SNSURL</q-item-label>
                                    <q-item-label caption>{{ playInfoAddObject.playInfoSnsUrl }}</q-item-label>
                                </q-item-section>
                            </q-item>
                            <q-separator spaced inset />
                            <q-item clickable v-ripple>
                                <q-item-section>
                                    <q-item-label class="text-bold">タグ</q-item-label>
                                    <q-item-label caption>{{ playInfoAddObject.playInfoTag }}</q-item-label>
                                </q-item-section>
                            </q-item>
                            <q-separator spaced inset />
                            <q-item clickable v-ripple>
                                <q-item-section>
                                    <q-item-label class="text-bold">説明</q-item-label>
                                    <q-item-label caption>{{ playInfoAddObject.description }}</q-item-label>
                                </q-item-section>
                            </q-item>
                            <q-separator spaced inset />
                            <q-item clickable v-ripple>
                                <q-item-section>
                                    <q-item-label class="text-bold">ジャンル</q-item-label>
                                    <q-item-label caption>{{ selectedGenre?.label }}</q-item-label>
                                </q-item-section>
                            </q-item>
                            <q-separator spaced inset />
                            <q-item clickable v-ripple>
                                <q-item-section>
                                    <q-item-label class="text-bold">場所</q-item-label>
                                    <q-item-label caption>{{ selectedPlace?.label }}</q-item-label>
                                </q-item-section>
                            </q-item>
                            <q-separator spaced inset />
                            <q-item clickable v-ripple>
                                <q-item-section>
                                    <q-item-label class="text-bold">天気</q-item-label>
                                    <q-item-label caption>{{ selectedWeather?.label }}</q-item-label>
                                </q-item-section>
                            </q-item>
                        </q-list>

                    </q-card-section>

                    <q-card-actions align="center">
                        <q-btn flat label="追加" color="primary" v-close-popup v-on:click="addPlayInfo" />
                        <q-btn flat label="キャンセル" color="primary" v-close-popup />
                    </q-card-actions>
                </q-card>
            </div>

        </q-dialog>
        <q-dialog v-model="genreModalFlag" persistent>
            <q-card style="min-width: 350px">
                <q-card-section>
                    <div class="text-h6">ジャンル</div>
                </q-card-section>
                <q-card-section>
                    <p v-html="errorMsg"></p>
                </q-card-section>
                <q-card-section class="q-pt-none">
                    <q-input filled v-model="genreObject.genreName" label="ジャンル名" />
                </q-card-section>
                <q-card-section class="q-pt-none">
                    <q-input filled v-model="genreObject.genreIcon" label="ジャンルアイコン" />
                </q-card-section>
                <q-card-section>
                    <a href="https://fonts.google.com/icons?selected=Material+Icons">アイコンはこちら参照</a>
                </q-card-section>

                <q-card-actions align="right" class="text-primary">
                    <q-btn flat label="追加" v-on:click="addGenre(genreObject)" />
                    <q-btn flat label="キャンセル" v-close-popup />
                </q-card-actions>
            </q-card>
        </q-dialog>
        <q-dialog v-model="completeModalFlag" position="top">
            <div class="q-ma-md">
                <q-card>
                    <q-card-section>
                        <div class="text-h6">完了通知</div>
                    </q-card-section>

                    <q-card-section class="q-pt-none">
                        <p>あそび情報を登録しました</p>
                    </q-card-section>

                    <q-card-actions align="right">
                        <q-btn flat label="OK" color="primary" v-close-popup v-on:click="addComplete" />
                    </q-card-actions>
                </q-card>
            </div>
        </q-dialog>
    </div>
    <div class="manage-add-wrapper">
        <div class="manage-add-title">
            <UtilMainTitle class="text-center" titleText="やること追加" />
        </div>
        <div class="q-pa-md">
            <div class="manage-add-input">
                <q-input filled v-model="playInfoAddObject.playInfoName" label="やること名称" />
            </div>
            <div class="manage-add-input">
                <q-input filled v-model="playInfoAddObject.playInfoSiteUrl" label="サイトURL" />
            </div>
            <div class="manage-add-input">
                <q-input filled v-model="playInfoAddObject.playInfoImageUrl" label="イメージURL" />
            </div>
            <div class="manage-add-input">
                <q-input filled v-model="playInfoAddObject.playInfoSnsUrl" label="SNSURL" />
            </div>
            <div class="manage-add-input">
                <q-input filled v-model="playInfoAddObject.playInfoTag" label="タグ" />
            </div>
            <div class="manage-add-input">
                <q-input filled v-model="playInfoAddObject.description" label="説明" />
            </div>
            <div class="manage-add-select">
                <q-select filled v-model="selectedGenre" :options="store.state.genreOptions" label="ジャンル">
                    <template v-slot:append>
                        <q-btn round dense flat icon="add" @click.stop.prevent v-on:click="openGenreForm" />
                    </template>
                </q-select>
            </div>
            <div class="manage-add-select">
                <q-select filled v-model="selectedPlace" :options="store.state.placeOptions" label="場所">
                </q-select>
            </div>
            <div class="manage-add-select">
                <q-select filled v-model="selectedWeather" :options="store.state.weatherOptions" label="天気">
                </q-select>
            </div>
        </div>
        <div class="manage-add-submit">
            <q-btn class="manage-add-submit-button" v-on:click="confirm" color="primary" label="追加" />
        </div>
    </div>
    <TapMenuManageTemplate />
</template>
<script setup lang="ts">
import { useRouter } from "vue-router";
import { useStore } from "vuex";
import { ref } from 'vue';
import { ApiService } from "@/service/ApiService";
import { UtilService } from '@/service/UtillService';
import { PlayInfoForAddObject } from '@/model/PlayInfoForAddObject';
import TapMenuManageTemplate from '@/components/templates/tapmenu/TapMenuManageTemplate.vue';
import UtilMainTitle from '@/components/parts/util/UtilMainTitle.vue';
import { OptionObject } from '@/model/OptionObject';
import { GenreObject } from '@/model/GenreObject';

// インスタンス
const router = useRouter();
const store = useStore();
const apiService = new ApiService();
const utilService = new UtilService();

// 変数
const playInfoAddObject = ref<PlayInfoForAddObject>(new PlayInfoForAddObject);
const selectedGenre = ref<OptionObject>();
const selectedPlace = ref<OptionObject>();
const selectedWeather = ref<OptionObject>();
const errorMsgList = ref<string[]>([]);
const errorMsg = ref<string>('');
const modalFlag = ref<boolean>(false);
const confirmModalFlag = ref<boolean>(false);
const genreModalFlag = ref<boolean>(false);
const genreObject = ref<GenreObject>(new GenreObject);
const completeModalFlag = ref<boolean>(false);

// セレクトボックス値設定
utilService.setConditionsAdd();

/** 追加処理 */
const confirm = () => {
    if (validate(playInfoAddObject.value)) {
        errorMsg.value = "";
        errorMsg.value = errorMsgList.value.join('');
        modalFlag.value = true;
    } else {
        confirmModalFlag.value = true;
    }
}

/** あそび情報追加 */
const addPlayInfo = () => {
    playInfoAddObject.value.placeId = selectedPlace.value?.value;
    playInfoAddObject.value.weatherId = selectedWeather.value?.value;
    playInfoAddObject.value.genreId = selectedGenre.value?.value;
    apiService.addPlayInfo(playInfoAddObject.value);
    completeModalFlag.value = true;
}

const addComplete = () => {
    router.push("/");
}

/** ジャンル登録モーダル表示 */
const openGenreForm = () => {
    errorMsg.value = "";
    genreModalFlag.value = true;
}
/** ジャンル登録 */
const addGenre = (addGenreObject: GenreObject) => {
    if (genreValidate(addGenreObject)) {
        errorMsg.value = "";
        errorMsg.value = errorMsgList.value.join('');
        errorMsgList.value = [];
    } else {
        apiService.addGenre(genreObject.value);
        genreModalFlag.value = false;
        location.reload();
    }
}



/** バリデーション */
const validate = (addObject: PlayInfoForAddObject): boolean => {
    errorMsgList.value = [];
    if (selectedGenre.value == undefined) {
        errorMsgList.value.push('ジャンルを選択してください<br>');
    }
    if (selectedWeather.value == undefined) {
        errorMsgList.value.push('天気を選択してください<br>');
    }
    if (selectedPlace.value == undefined) {
        errorMsgList.value.push('場所を選択してください<br>');
    }
    if (addObject.playInfoName == undefined) {
        errorMsgList.value.push('名称を入力してください<br>');
    }
    if (utilService.isEmpty(addObject.playInfoSiteUrl)) {
        errorMsgList.value.push('URLを入力してください<br>');
    }
    if (utilService.isEmpty(addObject.description)) {
        errorMsgList.value.push('説明を入力してください<br>');
    }
    if (utilService.isEmpty(addObject.playInfoTag)) {
        errorMsgList.value.push('タグを入力してください<br>');
    }

    if (errorMsgList.value.length != 0) {
        return true;
    } else {
        return false;
    }
}

/** ジャンル登録バリデーション */
const genreValidate = (addGenreObject: GenreObject): boolean => {
    errorMsgList.value = [];
    if (addGenreObject.genreIcon == undefined) {
        errorMsgList.value.push('ジャンルアイコンを入力してください<br>');
    }
    if (addGenreObject.genreName == undefined) {
        errorMsgList.value.push('ジャンル名を入力してください<br>');
    }

    if (errorMsgList.value.length != 0) {
        return true;
    } else {
        return false;
    }
}
</script>

<style lang="scss" scoped>
.manage-add-wrapper {
    margin-bottom: 100px;
}

.manage-add-input {
    margin-bottom: 8px;
}

.manage-add-select {
    margin-bottom: 8px;
}

.manage-add-submit-button {
    width: calc(100% - 32px);
    height: 42px;
    border-radius: 10px;
}

.manage-add-submit {
    display: block;
}
</style>
