<template>
    <div class="search-result-modal">
        <q-dialog v-model="modalFlag" persistent transition-show="flip-down" transition-hide="flip-up" position="top">
            <div class="q-ma-md">
                <q-card class="bg-deep-purple text-white">
                    <q-bar>
                        <q-icon name="error_outline" />
                        <div>入力エラー</div>

                        <q-space />

                        <q-btn dense flat icon="close" v-close-popup>
                            <q-tooltip class="bg-white text-primary">Close</q-tooltip>
                        </q-btn>
                    </q-bar>

                    <q-card-section>
                        <div class="text-h6">以下内容をご確認ください。</div>
                    </q-card-section>

                    <q-card-section class="q-pt-none" v-html="errMessage">
                    </q-card-section>
                </q-card>
            </div>
        </q-dialog>
        <q-dialog v-model="confirmModalFlag" persistent position="top">
            <div class="q-ma-md">
                <q-card>
                    <q-card-section class="row items-center">
                        <q-avatar icon="library_add_check" color="primary" text-color="white" />
                        <span class="q-ml-sm">登録内容確認</span>
                    </q-card-section>
                    <q-card-section class="row items-center">
                        <q-list>
                            <q-item clickable v-ripple>
                                <q-item-section>
                                    <q-item-label class="text-bold">やること名称</q-item-label>
                                    <q-item-label caption>{{ playInfoObject.playInfoName }}</q-item-label>
                                </q-item-section>
                            </q-item>
                            <q-separator spaced inset />
                            <q-item clickable v-ripple>
                                <q-item-section>
                                    <q-item-label class="text-bold">サイトURL</q-item-label>
                                    <q-item-label caption>{{ playInfoObject.playInfoSiteUrl }}</q-item-label>
                                </q-item-section>
                            </q-item>
                            <q-separator spaced inset />
                            <q-item clickable v-ripple>
                                <q-item-section>
                                    <q-item-label class="text-bold">イメージURL</q-item-label>
                                    <q-item-label caption>{{ playInfoObject.playInfoOgpUrl }}</q-item-label>
                                </q-item-section>
                            </q-item>
                            <q-separator spaced inset />
                            <q-item clickable v-ripple>
                                <q-item-section>
                                    <q-item-label class="text-bold">SNSURL</q-item-label>
                                    <q-item-label caption>{{ playInfoObject.playInfoSnsUrl }}</q-item-label>
                                </q-item-section>
                            </q-item>
                            <q-separator spaced inset />
                            <q-item clickable v-ripple>
                                <q-item-section>
                                    <q-item-label class="text-bold">タグ</q-item-label>
                                    <q-item-label caption>{{ playInfoObject.playInfoTag }}</q-item-label>
                                </q-item-section>
                            </q-item>
                            <q-separator spaced inset />
                            <q-item clickable v-ripple>
                                <q-item-section>
                                    <q-item-label class="text-bold">説明</q-item-label>
                                    <q-item-label caption>{{ playInfoObject.playInfoDescription }}</q-item-label>
                                </q-item-section>
                            </q-item>
                            <q-separator spaced inset />
                            <q-item clickable v-ripple>
                                <q-item-section>
                                    <q-item-label class="text-bold">ジャンル</q-item-label>
                                    <q-item-label caption>{{ selectedGenre?.label }}</q-item-label>
                                </q-item-section>
                            </q-item>
                            <q-separator spaced inset />
                            <q-item clickable v-ripple>
                                <q-item-section>
                                    <q-item-label class="text-bold">場所</q-item-label>
                                    <q-item-label caption>{{ selectedPlace?.label }}</q-item-label>
                                </q-item-section>
                            </q-item>
                            <q-separator spaced inset />
                            <q-item clickable v-ripple>
                                <q-item-section>
                                    <q-item-label class="text-bold">天気</q-item-label>
                                    <q-item-label caption>{{ selectedWeather?.label }}</q-item-label>
                                </q-item-section>
                            </q-item>
                        </q-list>

                    </q-card-section>

                    <q-card-actions align="center">
                        <q-btn flat label="編集" color="primary" v-close-popup v-on:click="editPlayInfo" />
                        <q-btn flat label="キャンセル" color="primary" v-close-popup />
                    </q-card-actions>
                </q-card>
            </div>
        </q-dialog>
        <q-dialog v-model="completeModalFlag" position="top">
            <div class="q-ma-md">
                <q-card>
                    <q-card-section>
                        <div class="text-h6">完了通知</div>
                    </q-card-section>

                    <q-card-section class="q-pt-none">
                        <p>あそび情報を更新しました</p>
                    </q-card-section>

                    <q-card-actions align="right">
                        <q-btn flat label="OK" color="primary" v-close-popup v-on:click="editComplete" />
                    </q-card-actions>
                </q-card>
            </div>
        </q-dialog>
    </div>
    <div class="manage-edit-wrapper">
        <div v-if="playInfoObject.playInfoId != null">
            <div class="manage-edit-title">
                <UtilMainTitle titleText="やること編集" />
            </div>
            <div class="q-pa-md">
                <div class="manage-edit-input">
                    <q-input filled v-model="playInfoObject.playInfoName" label="やること名称" />
                </div>
                <div class="manage-edit-input">
                    <q-input filled v-model="playInfoObject.playInfoSiteUrl" label="サイトURL" />
                </div>
                <div class="manage-edit-input">
                    <q-input filled v-model="playInfoObject.playInfoOgpUrl" label="イメージURL" />
                </div>
                <div class="manage-edit-input">
                    <q-input filled v-model="playInfoObject.playInfoSnsUrl" label="SNSURL" />
                </div>
                <div class="manage-edit-input">
                    <q-input filled v-model="playInfoObject.playInfoTag" label="タグ" />
                </div>
                <div class="manage-edit-input">
                    <q-input filled v-model="playInfoObject.playInfoDescription" label="説明" />
                </div>
                <div class="manage-edit-select">
                    <q-select filled v-model="selectedGenre" :options="store.state.genreOptions" label="ジャンル" />
                </div>
                <div class="manage-edit-select">
                    <q-select filled v-model="selectedPlace" :options="store.state.placeOptions" label="場所" />
                </div>
                <div class="manage-edit-select">
                    <q-select filled v-model="selectedWeather" :options="store.state.weatherOptions" label="天気" />
                </div>
            </div>
            <div class="manage-edit-submit">
                <q-btn class="manage-edit-submit-button q-mb-sm" v-on:click="confirm" color="primary" label="編集" />
                <q-btn class="manage-edit-submit-button" v-on:click="back" color="primary" label="戻る" />
            </div>
        </div>
        <div v-else>
            <p>編集対象がみつかりませんでした。</p>
        </div>
    </div>


    <TapMenuManageTemplate :cssFlag="store.state.editModalFlag" />
</template>
<script setup lang="ts">
import { useRouter } from "vue-router";
import { useStore } from "vuex";
import TapMenuManageTemplate from '@/components/templates/tapmenu/TapMenuManageTemplate.vue';
import UtilMainTitle from '@/components/parts/util/UtilMainTitle.vue';
import { ref } from 'vue';
import { ApiService } from "@/service/ApiService";
import { PlayInfoObject } from '@/model/PlayInfoObjec';
import { OptionObject } from '@/model/OptionObject';
import { UtilService } from '@/service/UtillService';

// インスタンス
const router = useRouter();
const store = useStore();
const apiService = new ApiService();
const utilService = new UtilService();

// 変数
const selectedGenre = ref<OptionObject>(new OptionObject);
const selectedPlace = ref<OptionObject>(new OptionObject);
const selectedWeather = ref<OptionObject>(new OptionObject);
const playInfoObject = ref<PlayInfoObject>(new PlayInfoObject);
const modalFlag = ref<boolean>(false);
const confirmModalFlag = ref<boolean>(false);
const completeModalFlag = ref<boolean>(false);

// セレクトボックス値設定
utilService.setConditionsAdd();

if (store.state.updatePlayInfoObject != null) {
    playInfoObject.value = store.state.updatePlayInfoObject;
    for (const genreOption of store.state.genreOptions) {
        if (genreOption.value == store.state.updatePlayInfoObject.playInfoGenre) {
            selectedGenre.value.value = genreOption.value;
            selectedGenre.value.label = genreOption.label;
        }
    }
    for (const placeOption of store.state.placeOptions) {
        if (placeOption.value == store.state.updatePlayInfoObject.playInfoPlace) {
            selectedPlace.value.value = placeOption.value;
            selectedPlace.value.label = placeOption.label;
        }
    }
    for (const weatherOption of store.state.weatherOptions) {
        if (weatherOption.value == store.state.updatePlayInfoObject.playInfoWeather) {
            selectedWeather.value.value = weatherOption.value;
            selectedWeather.value.label = weatherOption.label;
        }
    }
}

const errorMsgList = ref<string[]>([]);
const errMessage = ref<string>('');


const confirm = () => {
    if (validate(playInfoObject.value)) {
        errMessage.value = errorMsgList.value.join('');
        modalFlag.value = true;
    } else {
        confirmModalFlag.value = true;
    }
}

const editPlayInfo = () => {
    playInfoObject.value.playInfoPlace = selectedPlace.value?.value;
    playInfoObject.value.playInfoWeather = selectedWeather.value?.value;
    playInfoObject.value.playInfoGenre = selectedGenre.value?.value;
    apiService.updatePlayInfo(playInfoObject.value);
    completeModalFlag.value = true;
}

const back = () => {
    router.push("/managelist");
}
const validate = (object: PlayInfoObject) => {
    errorMsgList.value = [];
    if (selectedGenre.value == undefined) {
        errorMsgList.value.push('ジャンルを選択してください<br>');
    }
    if (selectedWeather.value == undefined) {
        errorMsgList.value.push('天気を選択してください<br>');
    }
    if (selectedPlace.value == undefined) {
        errorMsgList.value.push('場所を選択してください<br>');
    }
    if (isEmpty(object.playInfoName)) {
        errorMsgList.value.push('名称を入力してください<br>');
    }
    if (isEmpty(object.playInfoSiteUrl)) {
        errorMsgList.value.push('URLを入力してください<br>');
    }
    if (isEmpty(object.playInfoDescription)) {
        errorMsgList.value.push('説明を入力してください<br>');
    }
    if (object.playInfoTag.length == 0) {
        errorMsgList.value.push('タグを入力してください<br>');
    }

    if (errorMsgList.value.length != 0) {
        return true;
    } else {
        return false;
    }
}

const editComplete = () => {
    router.push("/managelist");
}

const isEmpty = (str: string): boolean => {
    if (str == null || str.length == 0) {
        return true;
    }
    return false;
}
</script>

<style lang="scss" scoped>
.manage-edit-wrapper {
    margin-bottom: 100px;
}

.manage-edit-input {
    margin-bottom: 8px;
}

.manage-edit-select {
    margin-bottom: 8px;
}

.manage-edit-submit-button {
    width: calc(100% - 32px);
    height: 42px;
    border-radius: 10px;
}

.manage-edit-submit {
    display: block;
}
</style>
