<template>
    <div class="manage-home-view">
        <img alt="Vue logo" src="@/assets/images/main.png">
    </div>
    <div class="manage-home-wrapper">
        <div class="manage-home-title">
            <UtilMainTitle titleText="管理メニュー" />
        </div>
        <div class="manage-menu-links d-flex justify-content-around">
            <img v-on:click="menuEventAdd" alt="Vue logo" src="@/assets/images/menu_add.png">
            <img v-on:click="menuEventList" alt="Vue logo" src="@/assets/images/menu_list.png">
            <img v-on:click="menuEventTopicUpdate" alt="Vue logo" src="@/assets/images/menu_topic_manage.png">
        </div>
    </div>
</template>
<script setup lang="ts">
import { useRouter } from "vue-router";
import UtilMainTitle from '@/components/parts/util/UtilMainTitle.vue';

const router = useRouter();

/** 検索画面へ遷移 */
const menuEventAdd = () => {
    router.push("/manageadd");
}
/** ニュース画面へ遷移 */
const menuEventList = () => {
    router.push("/managelist");
}
/** トピック更新画面へ遷移 */
const menuEventTopicUpdate = () => {
    router.push("/managetopicupdate");
}
</script>

<style lang="scss" scoped>
.manage-home-view {
    width: 100%;
    margin-bottom: 80px;

    img {
        width: 100%;
    }
}

.manage-home-wrapper {
    width: 100%;
}

.manage-home-title {
    margin-bottom: 16px;
}

.manage-menu-links {
    display: flex;
    justify-content: space-around;

    img {
        width: 88px;
    }
}
</style>
