<template>
    <div class="manage-topic-update-modal">
        <q-dialog v-model="modalFlag" persistent position="top">
            <div class="q-ma-md">
                <q-card>
                    <q-card-section class="row items-center">
                        <q-avatar icon="sync" color="primary" text-color="white" />
                        <span class="q-ml-sm">トピック情報を更新しますか？</span>
                    </q-card-section>

                    <q-card-actions align="right">
                        <q-btn flat label="更新" color="primary" v-close-popup v-on:click="updateTopicInfo" />
                        <q-btn flat label="キャンセル" color="primary" v-close-popup />
                    </q-card-actions>
                </q-card>
            </div>
        </q-dialog>
    </div>
    <div class="manage-topic-update-wrapper">
        <div class="manage-topic-update-title">
            <UtilMainTitle titleText="トピック情報更新" />
        </div>
        <div class="q-mx-md column">
            <q-checkbox v-for="genre of store.state.genreOptions" :key="genre" v-model="checkboxData"
                :label="genre.label" :val="genre.value" />
        </div>
        <q-btn v-on:click="confirmModalOpen" color="deep-orange" push>
            <div class="row items-center no-wrap">
                <q-icon left name="sync" />
                <div class="text-center">
                    Update
                </div>
            </div>
        </q-btn>
    </div>
    <TapMenuManageTemplate :cssFlag="store.state.editModalFlag" />
</template>
<script setup lang="ts">
import { useRouter } from "vue-router";
import { useStore } from "vuex";
import TapMenuManageTemplate from '@/components/templates/tapmenu/TapMenuManageTemplate.vue';
import UtilMainTitle from '@/components/parts/util/UtilMainTitle.vue';
import { ref } from 'vue';
import { ApiService } from "@/service/ApiService";
import { UtilService } from '@/service/UtillService';
import { TopicUpdateRequest } from '@/model/TopicUpdateRequest';

// インスタンス
const router = useRouter();
const store = useStore();
const apiService = new ApiService();
const utilService = new UtilService();

// 変数
const checkboxData = ref<number[]>([]);
const topicUpdateRequest = ref<TopicUpdateRequest>(new TopicUpdateRequest);
const modalFlag = ref<boolean>(false);

// セレクトボックス値設定
utilService.setConditions();

/** 更新確認モーダル */
const confirmModalOpen = () => {
    modalFlag.value = true;
}

/** トピック情報更新ボタン処理 */
const updateTopicInfo = () => {
    topicUpdateRequest.value.genreList = checkboxData.value;
    apiService.updateTopicInfo(topicUpdateRequest.value);
    router.push("/manage");
}

</script>

<style lang="scss" scoped>
</style>
