<template>
    <div class="search-result-modal">
        <q-dialog v-model="confirmModalFlag" persistent position="top">
            <div class="q-ma-md">
                <q-card>
                    <q-card-section class="row items-center">
                        <q-avatar icon="warning_amber" color="primary" text-color="white" />
                        <span class="q-ml-sm">削除してよろしいでしょうか。</span>
                    </q-card-section>

                    <q-card-actions align="right">
                        <q-btn flat label="削除" color="primary" v-close-popup
                            v-on:click="deletePlayInfo(deleteTargetId)" />
                        <q-btn flat label="キャンセル" color="primary" v-close-popup />
                    </q-card-actions>
                </q-card>
            </div>
        </q-dialog>
    </div>
    <div class="playinfo-list-wrapper">
        <div class="playinfo-list-title">
            <UtilMainTitle class="text-center" titleText="やること一覧" />
        </div>
        <div class="q-pa-md">
            <div class="playinfo-list" v-for="[key, value] in playInfoMap" :key="key">
                <q-list bordered class="rounded-borders">
                    <q-expansion-item expand-separator :icon="value[0].genreIcon" :label="key"
                        header-class="text-primary">
                        <q-card>
                            <q-card-section>
                                <li v-for="playinfo of value" v-bind:key="playinfo.playInfoName">
                                    <div class="playinfo-card">
                                        <div class="playinfo-card-img">
                                            <div v-if="playinfo.playInfoOgpUrl == undefined">
                                                <img src="@/assets/images/no_image_sample.jpg">
                                            </div>
                                            <div v-else>
                                                <img :src="playinfo.playInfoOgpUrl">
                                            </div>
                                        </div>
                                        <div class="playinfo-card-content">
                                            <div class="playinfo-card-text">
                                                <p class="text-bold text-left">{{ playinfo.playInfoName }}</p>
                                            </div>
                                            <div class="playinfo-card-button-wrapper">
                                                <q-btn class="playinfo-card-button q-mr-sm" color="primary" label="編集"
                                                    v-on:click="editPlayInfo(playinfo)" />
                                                <q-btn class="playinfo-card-button" color="black" label="削除"
                                                    v-on:click="deleteConfirm(playinfo.playInfoId)" />
                                            </div>
                                        </div>
                                    </div>

                                </li>
                            </q-card-section>
                        </q-card>
                    </q-expansion-item>
                </q-list>
            </div>
        </div>
    </div>
    <TapMenuManageTemplate :cssFlag="store.state.deleteModalFlag" />
</template>

<script setup lang="ts">
import TapMenuManageTemplate from '@/components/templates/tapmenu/TapMenuManageTemplate.vue';
import UtilMainTitle from '@/components/parts/util/UtilMainTitle.vue';
import { ref } from "vue";
import { ApiService } from "@/service/ApiService";
import { UtilService } from '@/service/UtillService';
import { PlayInfoObject } from '@/model/PlayInfoObjec';
import { useRouter } from "vue-router";
import { useStore } from "vuex";

// インスタンス
const router = useRouter();
const store = useStore();
const apiService = new ApiService();
const utilService = new UtilService();

// 変数
const playInfoMap = ref<Map<string, PlayInfoObject[]>>();
const deleteTargetId = ref<number>(0);
const confirmModalFlag = ref<boolean>(false);


// セレクトボックス値設定
utilService.setConditionsAdd();

// あそび情報取得
apiService.getPlayInfoAll().then((ret: Map<string, PlayInfoObject[]>) => {
    playInfoMap.value = ret;
})

/** 編集ボタン処理 */
const editPlayInfo = (playInfoObject: PlayInfoObject) => {
    store.commit("setUpdatePlayInfoObject", playInfoObject);
    router.push("/managedetail");
}

/** 削除ボタン処理 */
const deletePlayInfo = (playInfoId: number) => {
    apiService.deletePlayInfo(playInfoId);
    location.reload()
}

/** 削除確認モーダル表示 */
const deleteConfirm = (target: number) => {
    deleteTargetId.value = target;
    confirmModalFlag.value = true;
}

</script>

<style lang="scss" scoped>
.playinfo-list-wrapper {
    margin-bottom: 100px;
}

.playinfo-list {
    margin-bottom: 8px;
}

.playinfo-card {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.playinfo-card-text {
    font-size: 16px;

}

.playinfo-card-img {
    margin-right: 12px;

    img {
        width: 140px;
        height: 120px;
        object-fit: cover;
        object-position: 50% 50%;
        border-radius: 10px;
    }
}


.playinfo-card-button-wrapper {
    display: flex;

}

.playinfo-card-button {
    width: 72px;
}
</style>