<template>
    <div class="manage-tap-menu">
        <img v-on:click="menuEventAdd" src="@/assets/images/bottom_menu_add.png" alt="">
        <img v-on:click="menuEventList" src="@/assets/images/bottom_menu_list.png" alt="">
        <img v-on:click="menuEventTopicUpdate" src="@/assets/images/bottom_menu_topic_manage.png" alt="">
    </div>
</template>

<script setup lang="ts">
import { useRouter } from "vue-router";

const router = useRouter();

/** 検索画面へ遷移 */
const menuEventAdd = () => {
    router.push("/manageadd");
}
/** ニュース画面へ遷移 */
const menuEventList = () => {
    router.push("/managelist");
}
/** トピック更新画面へ遷移 */
const menuEventTopicUpdate = () => {
    router.push("/managetopicupdate");
}
</script>

<style lang="scss">
.manage-tap-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 72px;
    background-color: #FFFFFF;
    position: fixed;
    bottom: 0;
    padding: 0 40px 0 40px;
    box-shadow: -2px -2px 2px 0 rgba(0, 0, 0, 0.16);

    img {
        height: 54px;
    }
}
</style>