<template>
    <div class="manageHome">
        <ManageHomePage />
    </div>
</template>

<script setup lang="ts">
import ManageHomePage from '@/components/pages/ManageHomePage.vue';
</script>
<style>
.manageHome {
    display: flex;
    flex-direction: column;
    align-items: center;
}
</style>