<template>
    <div class="tap-menu-wrapper">
        <img v-on:click="menuEventSearch" src="@/assets/images/bottom_menu_search.png" alt="">
        <img v-on:click="menuEventNews" src="@/assets/images/bottom_menu_topic.png" alt="">
        <a href="https://nakaikenta.wixsite.com/playapp">
            <img src="@/assets/images/bottom_menu_about.png" alt="">
        </a>
    </div>
</template>

<script setup lang="ts">
import { useRouter } from "vue-router";

// インスタンス
const router = useRouter();

/** 検索画面へ遷移 */
const menuEventSearch = () => {
    router.push("/search");
}
/** ニュース画面へ遷移 */
const menuEventNews = () => {
    router.push("/topic");
}

</script>

<style lang="scss" scoped>
.tap-menu-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 72px;
    background-color: #FFFFFF;
    position: fixed;
    bottom: 0;
    padding: 0 40px 0 40px;
    box-shadow: -2px -2px 2px 0 rgba(0, 0, 0, 0.16);

    img {
        height: 54px;
    }
}
</style>