<template>
    <div class="mx-2 accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item" v-for="[key, value] in topicObjectMap" :key="key">
            <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    :data-bs-target="'#' + key" aria-expanded="false" :aria-controls="key">
                    <span class="">{{ key }}</span>
                </button>
            </h2>
            <TopicCard :topicObjectKey="key" :topicObjectValue="value" />
        </div>
    </div>
    <TapMenuTemplate />


</template>

<script setup lang="ts">
import { onMounted, ref } from "vue";
import { TopicObject } from '@/model/TopicObject'
import { ApiService } from "@/service/ApiService"
import TapMenuTemplate from '@/components/templates/tapmenu/TapMenuTemplate.vue';
import TopicCard from '@/components/parts/topic/TopicCard.vue';

const topicObjectMap = ref<Map<string, TopicObject[]>>();
const apiService = new ApiService();

onMounted(() => {
    apiService.getTopicList().then((ret: Map<string, TopicObject[]>) => {
        topicObjectMap.value = ret;
    });

})
</script>

<style>
</style>