<template>
    <div class="mx-4 text-start resultWrapper">
        <a class="resultArticle mb-4" :href="store.state.playInfoObject?.playInfoSiteUrl">
            <div class="card">
                <div class="resultImage">
                    <img :src="store.state.playInfoObject?.playInfoOgpUrl" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                    <h5 class="card-title fw-bold">{{ store.state.playInfoObject?.playInfoName }}</h5>
                    <div class="resultType card-text mb-2">
                        <span class="me-2 mb-1 card-text" v-for="tag of store.state.playInfoObject?.playInfoTag"
                            :key="tag">
                            {{ tag }}
                        </span>
                    </div>
                    <div class="resultDescript card-text">
                        <p>{{ store.state.playInfoObject?.playInfoDescription }}</p>
                    </div>
                </div>
            </div>
        </a>
    </div>
</template>

<script setup lang="ts">
import { useStore } from 'vuex'
const store = useStore();

</script>

<style>
.resultType span {
    font-size: 10px;
    padding: 4px;
    border-radius: 4px;
    border: solid 1px #707070;
    display: inline-block;
}

.resultDescript p {
    font-size: 14px;
}

.card-body {
    color: #000000;
}

.resultArticle {
    box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.resultImage {
    width: 100%;
    max-height: 240px;
    overflow: hidden;
}
</style>