<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>

<body>
	<h1>Test</h1>
	<table>
		<tr>
			<th>ユーザーID</th>
			<th>ユーザーネーム</th>
		</tr>
		<tr th:each="user : ${userlist}">
			<td th:text="${user.userId}" class="tdtest"></td>
			<td th:text="${user.userName}" class="tdtest"></td>
		</tr>
	</table>

</body>

</html>