<script setup lang="ts">
</script>

<template>
  <div id="nav">
    <router-link to="/">Home</router-link>
    <router-link to="/test">test</router-link>
  </div>
  <router-view></router-view>
</template>

<style scoped>
</style>
