<template>
  <div class="mx-2">
    <FullCalendar class="demo-app-calendar" :options="calendarOptions">
      <template v-slot:eventContent="arg">
        <b>{{ arg.timeText }}</b>
        <i>{{ arg.event.title }}</i>
      </template>
    </FullCalendar>
    <div class="d-grid gap-2 mx-4 mb-4 text-white">
      <button type="button" class="btn btn-secondary" v-on:click="backToHome">
        戻る
      </button>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref, watchEffect } from "vue";
import FullCalendar, {
  CalendarOptions,
  EventClickArg,
} from "@fullcalendar/vue3";
import timeGridPlugin from "@fullcalendar/timegrid";
import "bootstrap/dist/css/bootstrap.css";
import "@fortawesome/fontawesome-free/css/all.css";
import bootstrapPlugin from "@fullcalendar/bootstrap";
import { CalendarEventsObject } from "@/model/CalendarEventsObject";
import { useStore } from "vuex";
import { useRouter } from "vue-router";
import { CalendarService } from "@/service/CalendarService";
const CalendarComponent = defineComponent({
  components: {
    FullCalendar,
  },

  setup() {
    const tomorrow = new Date();
    tomorrow.setDate(tomorrow.getDate() + 1);

    const router = useRouter();
    const store = useStore();
    const calendarService = new CalendarService();

    // 予約可能日時を取得
    const calendarEventsObject = ref<CalendarEventsObject[]>([]);
    calendarService.getReservedList(store.state.selectedMenu).then((ret) => {
      calendarEventsObject.value = ret;
    });

    const handleEventClick = (clickInfo: EventClickArg) => {
      // 選択メニューをsotreに格納
      store.commit("setSelectedStartTime", clickInfo.event.start);
      // タイムテーブル画面へ遷移
      router.push("/confirm");
    };
    const calendarOptions = ref<CalendarOptions>();
    watchEffect(() => {
      calendarOptions.value = {
        plugins: [timeGridPlugin, bootstrapPlugin],
        themeSystem: "bootstrap",
        headerToolbar: {
          left: "prev,next today",
          center: "title",
          right: "",
        },
        initialView: "timeGridDay",
        eventClick: handleEventClick,
        locale: "ja",
        slotMinTime: "09:00",
        slotMaxTime: "20:00",
        contentHeight: "auto",
        slotDuration: "00:15:00",
        initialDate: tomorrow,
        slotLabelFormat: {
          hour: "numeric",
          minute: "2-digit",
          omitZeroMinute: false,
          meridiem: "short",
        },
        allDaySlot: false,
        events: calendarEventsObject.value,
      };
    });

    const backToHome = () => {
      router.push("/");
    };

    return {
      handleEventClick,
      backToHome,
      calendarEventsObject,
      calendarOptions,
    };
  },
});

export default CalendarComponent;
</script>

<style>
.fc-event-main {
  display: flex;
  align-items: center;
  justify-content: center;
}
</style>