<template>
  <button class="btn btn-primary" v-on:click="complete">完了</button>
</template>
<script lnag="ts">
import { defineComponent } from "vue";
import { LineApiService } from "@/service/LineApiService";

const CompleteComponent = defineComponent({
  setup() {
    const lineApiService = new LineApiService();
    const complete = () => {
      console.log("閉じる");
      lineApiService.logout();
      lineApiService.closeWindow();
    };
    return { complete };
  },
});

export default CompleteComponent;
</script>

