<template>
  <div class="card mb-4 mx-4 text-start">
    <div class="card-body d-flex justify-content-between">
      <div>
        <h5 class="card-title fw-bold">
          {{ $store.state.selectedMenu.menuName }}
        </h5>
        <div class="card-text text-break me-1">
          <div class="mb-2">
            <p>▼料金</p>
            <p>{{ $store.state.selectedMenu.menuPrice }}円</p>
          </div>
          <div>
            <p>▼予約日時</p>
            <p>{{ dateFormat($store.state.selectedStartTime) }}&nbsp;～</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mx-4">
    <div class="d-grid gap-2 mb-2 text-white">
      <button type="button" class="btn btn-primary" v-on:click="reserve">
        予約
      </button>
    </div>
    <div class="d-grid gap-2 text-white">
      <button
        type="button"
        class="btn btn-secondary"
        v-on:click="backToTimeTable"
      >
        戻る
      </button>
    </div>
  </div>
</template>
<script lang="ts">
import { defineComponent, ref } from "vue";
import { useStore } from "vuex";
import { useRouter } from "vue-router";
import dayjs from "dayjs";
import axios from "axios";
dayjs.locale("ja");

const ConfirmComponent = defineComponent({
  setup() {
    const router = useRouter();
    const store = useStore();
    const reserveResult = ref([]);

    const backToTimeTable = () => {
      router.push("/calendar");
    };
    const reserve = () => {
      console.log(store.state.tokenId);
      axios
        .post(process.env.VUE_APP_POST_RESERVE_URL, {
          token_id: store.state.tokenId,
          menu_id: store.state.selectedMenu.menuId,
          starttime: dateFormat(store.state.selectedStartTime),
          menuTime: store.state.selectedMenu.menuTime,
        })
        .then((response) => {
          reserveResult.value = response.data;
        })
        .catch((error) => {
          console.log(error);
        });
      router.push("/complete");
    };
    const dateFormat = (date: Date) => {
      return dayjs(date).format("YYYY-MM-DD HH:mm");
    };
    return { backToTimeTable, reserve, dateFormat };
  },
});
export default ConfirmComponent;
</script>
