<template>
  <h1 class="mb-4 text-center">MENU</h1>
  <div class="mb-4 mx-4 text-start">
    <!-- メニューリストを表示 -->
    <ul>
      <li v-for="menu of menuState.menuListObj" v-bind:key="menu.menuId">
        <div class="card mb-2">
          <div class="card-body d-flex justify-content-between">
            <div>
              <h5 class="card-title fw-bold">{{ menu.menuName }}</h5>
              <div class="card-text text-break me-1">
                <p>{{ menu.menuDetail }}</p>
                <p>{{ menu.menuPrice }}円</p>
                <p>▼所要時間</p>
                <p>
                  {{ menu.menuTime.substring(0, 2) }}時間{{
                    menu.menuTime.substring(2, 4)
                  }}分
                </p>
              </div>
            </div>
            <div class="d-flex align-items-center">
              <button
                v-on:click="selectMenu(menu)"
                class="btn btn-primary text-nowrap"
              >
                選択
              </button>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</template>

<script lang="ts">
import { defineComponent, reactive } from "vue";
import { useStore } from "vuex";
import { useRouter } from "vue-router";
import { MenuService } from "@/service/MenuService";
// import { LineApiService } from "@/service/LineApiService";
import { MenuObject } from "@/model/MenuObject";
import liff from "@line/liff";
const MenuComponents = defineComponent({
  setup() {
    const router = useRouter();
    const store = useStore();
    const menuService = new MenuService();
    // const lineApiService = new LineApiService();


    const initializeliff = () => {
      liff
        .init({
          liffId: process.env.VUE_APP_LINE_CHANNEL_ID,
        })
        .then(() => {
          getIdToken();
        })
        .catch((err) => {
          store.commit("setErrMsg", err);
        });
    };

    const getIdToken = () => {
      store.commit("setTokenId", liff.getIDToken());
    };
    initializeliff();

    // メニュー一覧を取得
    const menuState = reactive({
      menuListObj: [] as MenuObject[],
    });

    menuService.getMenuList().then((ret: MenuObject[]) => {
      menuState.menuListObj = ret;
    });

    // メニュー選択処理
    const selectMenu = (selectData: MenuObject) => {
      // 選択メニューをsotreに格納
      store.commit("setSelectedMenu", selectData);
      // タイムテーブル画面へ遷移
      router.push("/calendar");
    };

    return { menuState, selectMenu };
  },
});

export default MenuComponents;
</script>
