<template>
    <div class="home-view">
        <img src="@/assets/images/main.png">
    </div>
    <div class="home-menu">
        <div class="home-title">
            <UtilMainTitle titleText="メニュー" />
        </div>
        <div class="menu-links">
            <img v-on:click="menuEventSearch" alt="Vue logo" src="@/assets/images/menu_search.png">
            <img v-on:click="menuEventNews" alt="Vue logo" src="@/assets/images/menu_topic.png">
            <a href="https://nakaikenta.wixsite.com/playapp">
                <img src="@/assets/images/menu_about.png">
            </a>
        </div>
    </div>
</template>
<script setup lang="ts">
import UtilMainTitle from '@/components/parts/util/UtilMainTitle.vue';
import { useRouter } from "vue-router";
// import { LineApiService } from '@/service/LineApiService';

// インスタンス
const router = useRouter();
// const lineApiService = new LineApiService();

// lineApiService.initializeliff;


/** 検索画面へ遷移 */
const menuEventSearch = () => {
    router.push("/search");
}
/** ニュース画面へ遷移 */
const menuEventNews = () => {
    router.push("/topic");
}
</script>

<style lang="scss" scoped>
.home-view {
    width: 100%;
    max-width: 980px;
    margin-bottom: 80px;

    img {
        width: 100%;
    }
}

.home-menu {
    width: 100%;
    max-width: 640px;
}

.home-title {
    margin-bottom: 16px;
}

.menu-links {
    display: flex;
    justify-content: space-between;
    margin-right: 24px;
    margin-left: 24px;

    img {
        width: 88px;
    }

}
</style>