<template>
    <div class="search-result-modal">
        <q-dialog v-model="modalFlag" persistent transition-show="flip-down" transition-hide="flip-up" position="top">
            <div class="q-ma-md">
                <q-card class="bg-deep-purple text-white">
                    <q-bar>
                        <q-icon name="error_outline" />
                        <div>入力エラー</div>

                        <q-space />

                        <q-btn dense flat icon="close" v-close-popup>
                            <q-tooltip class="bg-white text-primary">Close</q-tooltip>
                        </q-btn>
                    </q-bar>

                    <q-card-section>
                        <div class="text-h6">以下内容をご確認ください。</div>
                    </q-card-section>

                    <q-card-section class="q-pt-none" v-html="errorMessage">
                    </q-card-section>
                </q-card>
            </div>
        </q-dialog>
    </div>
    <div class="login-card">
        <q-card class="my-card">
            <div class="login-title">
                <UtilMainTitle titleText="ログイン" />
            </div>
            <q-card-section>
                <div class="login-form-username">
                    <q-input v-model="loginInfoObject.username" filled label="UserName" />
                </div>
                <div class="login-form-password">
                    <q-input v-model="loginInfoObject.password" filled :type="isPwd ? 'password' : 'text'"
                        label="Password">
                        <template v-slot:append>
                            <q-icon :name="isPwd ? 'visibility_off' : 'visibility'" class="cursor-pointer"
                                @click="isPwd = !isPwd" />
                        </template>
                    </q-input>
                </div>
                <q-btn class="login-submit" v-on:click="login" color="primary" label="ログイン" />
            </q-card-section>
        </q-card>
    </div>

</template>

<script setup lang="ts">
import { UtilService } from '@/service/UtillService';
import { ref } from 'vue';
import { LoginInfoObject } from '@/model/LoginInfoObject';
import { useRouter } from "vue-router";
import UtilMainTitle from '@/components/parts/util/UtilMainTitle.vue';
import { ApiService } from "@/service/ApiService";

// インスタンス
const router = useRouter();
const utilService = new UtilService();
const apiService = new ApiService();

// 変数
const loginInfoObject = ref<LoginInfoObject>(new LoginInfoObject());
const errorMessageList = ref<string[]>([]);
const errorMessage = ref<string>('');
const isPwd = ref<boolean>(true);
const modalFlag = ref<boolean>(false);
const loginResult = ref<boolean>();

/** ログイン処理 */
const login = () => {
    if (validate(loginInfoObject.value)) {
        apiService.login(loginInfoObject.value).then((ret) => {
            loginResult.value = ret;
            if (loginResult.value) {
                router.push('/manage');
            } else {
                errorMessageList.value.push('存在しないアカウント、もしくはパスワードが間違っています。<br>');
                errorMessage.value = errorMessageList.value.join('');
                modalFlag.value = true;
            }
        })

    } else {
        modalFlag.value = true;
    }
}

/** バリデーション */
const validate = (loginInfoObject: LoginInfoObject): boolean => {
    errorMessageList.value = [];
    // ユーザー名チェック
    if (utilService.isEmpty(loginInfoObject.username)) {
        errorMessageList.value.push('ユーザー名をを入力してください<br>');
    }
    // パスワードチェック
    if (utilService.isEmpty(loginInfoObject.password)) {
        errorMessageList.value.push('パスワードを入力してください<br>');
    }

    // エラーメッセージがある場合
    if (errorMessageList.value.length != 0) {
        errorMessage.value = errorMessageList.value.join('');
        return false;
    } else {
        return true;
    }
}
</script>

<style lang="scss" scoped>
.login-card {
    display: flex;
    justify-content: center;
    margin: 16px 24px 0 24px;
}

.my-card {
    padding: 16px 0 16px 0;
    width: 100%;
}

.login-form-username {
    margin-bottom: 16px;
}

.login-submit {
    margin: 16px 0 0 0;
}
</style>