<template>
    <div v-if="loadVisible">
        <q-inner-loading :showing="loadVisible" label="Please wait..." label-class="text-teal"
            label-style="font-size: 1.1em" />
    </div>
    <div v-else>
        <div v-if="store.state.playInfoObjects != undefined">
            <q-carousel height="470px" swipeable transition-prev="slide-right" transition-next="slide-left" navigation
                control-color="primary" animated v-model="slide" ref="carousel" infinite>
                <q-carousel-slide v-for="target of maxSlideLen" :key="target" :name=target>
                    <div class="search-result-wrapper">
                        <div class="row items-start search-result-card">

                            <q-card class="my-card">
                                <div class="search-result-image">
                                    <div v-if="store.state.playInfoObjects[target - 1].playInfoOgpUrl == undefined">
                                        <img src="@/assets/images/no_image_sample.jpg">
                                    </div>
                                    <div v-else>
                                        <img :src="store.state.playInfoObjects[target - 1].playInfoOgpUrl">
                                    </div>
                                </div>
                                <q-card-section>
                                    <div class="text-h6 search-result-title">{{
                                            store.state.playInfoObjects[target - 1].playInfoName
                                    }}
                                    </div>
                                </q-card-section>

                                <q-card-section class="q-pt-none">
                                    <div class="row justify-between">
                                        <div class="search-result-button-wrapper">
                                            <q-btn
                                                v-on:click="openHomePage(store.state.playInfoObjects[target - 1].playInfoSiteUrl)"
                                                stack outline class="search-result-button" color="dark" icon="http"
                                                label="ホームページ" />
                                        </div>
                                        <div class="search-result-button-wrapper"
                                            v-show="store.state.playInfoObjects[target - 1].playInfoSnsUrl">
                                            <q-btn
                                                v-on:click="openHomePage(store.state.playInfoObjects[target - 1].playInfoSnsUrl)"
                                                stack outline class="search-result-button" color="dark"
                                                icon="img:logo-instagram.svg" label="インスタグラム" />
                                        </div>


                                    </div>
                                    <!-- <div class="search-result-description">
                                            <p>{{ store.state.playInfoObjects[target - 1].playInfoDescription }}</p>
                                        </div> -->
                                </q-card-section>
                            </q-card>
                        </div>
                    </div>
                </q-carousel-slide>
            </q-carousel>
            <div class="q-pa-md">
                <div class="q-pa-md">

                </div>
            </div>
        </div>
        <div v-else>
            <div class="search-result-nodata text-bold">
                <p>検索結果なし</p>
            </div>
        </div>
    </div>

    <TapMenuTemplate />
</template>

<script setup lang="ts">
import { onMounted, ref } from 'vue';
import { useStore } from 'vuex'
import TapMenuTemplate from '@/components/templates/tapmenu/TapMenuTemplate.vue';

// インスタンス
const store = useStore();

// 変数
const slide = ref<number>(1);
const maxSlideLen = ref<number>();
const loadVisible = ref<boolean>(true);

if (store.state.playInfoObjects != undefined) {
    maxSlideLen.value = store.state.playInfoObjects.length;
}

// ローディングの時間設定
onMounted(() => {
    loadVisible.value = false;
})

// リンク先を開く
const openHomePage = (link: string) => {
    window.location.href = link;
}


</script>

<style lang="scss" scoped>
.search-result-wrapper {
    display: flex;
    justify-content: center;
}

.search-result-card {
    width: 100%;
}

.my-card {
    width: 100%;
}

.search-result-title {
    font-size: 18px;
    text-align: left;
    font-weight: bold !important;
    color: #000000;
    margin-bottom: 4px;
}

.search-result-button {
    width: 100%;
}

.search-result-button-wrapper {
    width: 49%;
}


.search-result-image {
    height: 240px;
    overflow: hidden;

    img {
        display: block;
        height: 240px;
        width: 100%;
        object-fit: cover;
        object-position: 50% 50%;
    }
}

.search-result-nodata {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
        font-size: 18px;
    }
}
</style>