<template>
    <div class="search-result-modal">
        <q-dialog v-model="modalFlag" position="top">
            <div class="q-ma-md">
                <q-card>
                    <q-card-section>
                        <div class="text-h6">検索結果</div>
                    </q-card-section>

                    <q-card-section class="q-pt-none">
                        <div class="search-result-modal-text">
                            <p>条件に当てはまるものがありませんでした</p>
                        </div>
                    </q-card-section>

                    <q-card-actions align="right">
                        <q-btn flat label="OK" color="primary" v-close-popup />
                    </q-card-actions>
                </q-card>
            </div>
        </q-dialog>
    </div>
    <div class="search-wrapper">
        <div class="search-title">
            <UtilMainTitle titleText="絞り込み条件設定" />
        </div>
        <div class="q-pa-md search-form-wrapper">
            <div class="q-gutter-md">
                <q-select color="teal" filled v-model="selectedGenre"
                    @update:modelValue="updatePlaceCount(selectedGenre!)" :options="store.state.genreOptions"
                    label="ジャンル">
                    <template v-slot:prepend>
                        <q-icon name="discount" />
                    </template>
                </q-select>
                <q-select color="teal" filled v-model="selectedPlace" :options="store.state.placeOptions"
                    label="場所">
                    <template v-slot:prepend>
                        <q-icon name="location_on" />
                    </template>
                </q-select>
                <q-select color="teal" filled v-model="selectedWeather" :options="store.state.weatherOptions"
                    label="天気">
                    <template v-slot:prepend>
                        <q-icon name="wb_sunny" />
                    </template>
                </q-select>
            </div>
        </div>
        <div class="search-submit">
            <div class="search-submit-button-wrapper">
                <q-btn class="search-submit-button" v-on:click="search" color="primary" label="さがす" />
            </div>
            <div class="search-submit-button-wrapper">
                <q-btn class="search-submit-button" v-on:click="resetField" color="primary" label="条件クリア" />
            </div>
        </div>
    </div>
    <TapMenuTemplate />
</template>

<script setup lang="ts">
import UtilMainTitle from '@/components/parts/util/UtilMainTitle.vue';
import TapMenuTemplate from '@/components/templates/tapmenu/TapMenuTemplate.vue';
import { useStore } from "vuex";
import { useRouter } from "vue-router";
import { ref } from 'vue';
import { ApiService } from "@/service/ApiService";
import { UtilService } from '@/service/UtillService';
import { SearchRequest } from '@/model/SerachRequest';
import { OptionObject } from '@/model/OptionObject';
import { PlaceCountRequest } from '@/model/PlaceCountRequest';


// インスタンス
const apiService = new ApiService();
const utilService = new UtilService();
const router = useRouter();
const store = useStore();

// 変数
const searchRequest = ref<SearchRequest>(new SearchRequest());
const selectedGenre = ref<OptionObject>();
const selectedPlace = ref<OptionObject>();
const selectedWeather = ref<OptionObject>();
const modalFlag = ref<boolean>(false);

// セレクトボックス値設定
utilService.setConditions();

const updatePlaceCount = (genre: OptionObject) => {
    selectedPlace.value = undefined;
    const placeCountRequest = new PlaceCountRequest();
    placeCountRequest.genreId = genre.value;
    utilService.updateConditions(placeCountRequest);
}


/** 探す処理 */
const search = () => {
    searchRequest.value.placeVal = selectedPlace.value?.value;
    searchRequest.value.weatherVal = selectedWeather.value?.value;
    searchRequest.value.genreVal = selectedGenre.value?.value;
    if (selectedGenre.value == undefined) {
        searchRequest.value.genreVal = 0;
    }
    if (selectedPlace.value == undefined) {
        searchRequest.value.placeVal = 0;
    }
    if (selectedWeather.value == undefined) {
        searchRequest.value.weatherVal = 0;
    }
    apiService.getPlayInfo(searchRequest.value).then((ret) => {
        store.commit("setPlayInfos", ret);
        if (store.state.playInfoObjects[0] != undefined) {
            router.push("/result");
        } else {
            modalFlag.value = true;
        }
    });
}

/** 選択値リセット */
const resetField = () => {
    selectedGenre.value = undefined;
    selectedPlace.value = undefined;
    selectedWeather.value = undefined;
}
</script>


<style lang="scss" scoped>
.search-wrapper {
    margin-bottom: 100px;
}

.search-form-wrapper {
    margin-bottom: 16px;
}

.search-submit {
    padding: 0 16px 0 16px;
    display: flex;
    justify-content: space-between;
}

.search-submit-button-wrapper {
    width: 48%;
}

.search-submit-button {
    width: 100%;
    height: 42px;
    border-radius: 10px;
}

.search-result-modal-text {
    p {
        font-size: 18px;
    }
}
</style>