<template>
    <div class="topic-wrapper">
        <div class="topic-title">
            <UtilMainTitle titleText="トピック一覧" />
        </div>
        <div class="q-pa-md ">
            <div class="topic-list-wrapper" v-for="[key, value] in topicObjectMap" :key="key">
                <q-list bordered class="rounded-borders">
                    <q-expansion-item expand-separator :icon="value[0].genreIcon" :label="key"
                        header-class="text-primary">
                        <q-card>
                            <q-card-section>
                                <li v-for="topic of value" v-bind:key="topic.topicSiteTitle">
                                    <a v-bind:href="topic.topicSiteUrl">
                                        <div class="topic-card my-4 d-flex justify-content-between align-items-center">
                                            <div class="topic-card-img me-2">
                                                <img :src="topic.topicOgpUrl">
                                            </div>
                                            <div class="topic-card-text">
                                                <p class="fw-bold text-start">{{ topic.topicSiteTitle }}</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </q-card-section>
                        </q-card>
                    </q-expansion-item>
                </q-list>
            </div>
        </div>
    </div>
    <TapMenuTemplate />
</template>

<script setup lang="ts">
import TapMenuTemplate from '@/components/templates/tapmenu/TapMenuTemplate.vue';
import UtilMainTitle from '@/components/parts/util/UtilMainTitle.vue';
import { ref } from "vue";
import { TopicObject } from '@/model/TopicObject'
import { ApiService } from "@/service/ApiService"


const topicObjectMap = ref<Map<string, TopicObject[]>>();
const apiService = new ApiService();

apiService.getTopicList().then((ret: Map<string, TopicObject[]>) => {
    topicObjectMap.value = ret;
});
</script>

<style lang="scss" scoped>
.topic-wrapper {
    margin-bottom: 100px;
}

.topic-list-wrapper {
    margin-bottom: 8px;
}

.topic-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.topic-card-text {
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 24px;
    text-align: left;
}

.topic-card-img {
    margin-right: 12px;

    img {
        width: 140px;
        height: 120px;
        object-fit: cover;
        object-position: 50% 50%;
        border-radius: 10px;
    }
}
</style>