<template>
  <CalendarComponent />
</template>

<script lang="ts">
import { defineComponent } from "vue";
import CalendarComponent from "@/components/CalendarComponent.vue";

const CalendarView = defineComponent({
  components: {
    CalendarComponent,
  },
});
export default CalendarView;
</script>
<style>
</style>