<template>
  <CompleteComponent />
</template>

<script lang="ts">
import { defineComponent } from "vue";
import CompleteComponent from "@/components/CompleteComponent.vue";

const CompleteView = defineComponent({
  components: {
    CompleteComponent,
  },
});
export default CompleteView;
</script>
