<template>
  <ConfirmComponent />
</template>

<script lang="ts">
import { defineComponent } from "vue";
import ConfirmComponent from '@/components/ConfirmComponent.vue'

const ConfirmView = defineComponent({
  components: {
    ConfirmComponent,
  },
});
export default ConfirmView;
</script>
<style>
</style>
