<template>
  <MenuComponents />
</template>

<script lang="ts">
import { defineComponent } from "vue";
import MenuComponents from "@/components/MenuComponents.vue";

const HomeView = defineComponent({
  components: {
    MenuComponents,
  },
});
export default HomeView;
</script>

<style>
</style>