<template>
    <div class="input-group">
        <label class="input-group-text" for="inputPeople">{{ props.selectBoxLavelProp }}</label>
        <select v-model="modelSelectValue" class="form-select" id="inputPeople">
            <option v-for="[key, value] in selectMapProp" :key="value" :value="key">
                {{ value }}
            </option>
        </select>
    </div>
</template>

<script setup lang="ts">
import { computed, defineProps, defineEmits, withDefaults, ref } from 'vue';

// Props
const props = withDefaults(
    defineProps<{
        selectBoxLavelProp: string,
        selectMapProp: Map<number, string>,
        selectValueProp: number,
    }>(),
    {
        selectBoxLavelProp: '',
    }
);


// emit
const emit = defineEmits<{
    (e: 'updateSelectValue', value: number): number,
}>();


const modelSelectValue = computed({
    get: () => props.selectValueProp,
    set: (value: number) => {
        emit('updateSelectValue', value);
    },
});
</script>