<template>
    <button v-on:click="buttonFunc" type="button" class="btn fw-bold submitButton">{{ buttonLavelProp }}</button>
</template>

<script setup lang="ts">
import { defineProps, defineEmits, withDefaults } from 'vue';

// Props
const props = withDefaults(
    defineProps<{
        buttonLavelProp: string,
    }>(),
    {
        buttonLavelProp: '',
    }
);

// emit
const emit = defineEmits<{
    (e: 'buttonEmit'): any,
}>();

const buttonFunc = () => {
    emit('buttonEmit');
}

</script>
<style lang="scss">
.submitButton {
    width: 140px;
    font-size: 16px;
    border-radius: 10px;
    background-color: #F7C900;
}
</style>