<template>
    <div class="searchSubmit d-flex justify-content-around align-items-center">
        <SearchSubmitButton buttonLavelProp="さがす" @buttonEmit="search" />
        <SearchSubmitButton buttonLavelProp="条件クリア" @buttonEmit="resetField" />
    </div>
</template>

<script setup lang="ts">
import { ref } from 'vue';
import { useStore } from "vuex";
import { useRouter } from "vue-router";
import { ApiService } from "@/service/ApiService"
import { SearchRequest } from '@/model/SerachRequest'
import SearchSubmitButton from '@/components/parts/search/SearchSubmitButton.vue'

// インスタンス
const apiService = new ApiService();
const router = useRouter();
const store = useStore();

// 変数
const searchRequest = ref<SearchRequest>(new SearchRequest());

/**
 * 探す処理
 */
const search = () => {
    searchRequest.value.peopleVal = store.state.peopleSelectVal;
    searchRequest.value.placeVal = store.state.placeSelectVal;
    searchRequest.value.genreVal = store.state.genreSelectVal;
    searchRequest.value.weatherVal = store.state.weatherSelectVal;

    apiService.getPlayInfo(searchRequest.value).then((ret) => {
        store.commit("setPlayInfo", ret);
        if (store.state.playInfoObject != null) {
            router.push("/result");
        } else {
            // TODO 検索対象なしのポップアップで対応予定
            store.commit("setModalFlag", true);
        }
    });
}

/**
 * フィールドリセット処理D
 */
const resetField = () => {
    store.commit("setPeopleSelectVal", 99);
    store.commit("setPlaceSelectVal", 99);
    store.commit("setGenreSelectVal", 99);
    store.commit("setWeatherSelectVal", 99);
}
</script>

<style>
</style>