<template>
    <div class="searchField">
        <SearchInputSelectBox class="mb-4" selectBoxLavelProp='人数' :selectMapProp=peopleMap
            :selectValueProp=store.state.peopleSelectVal @updateSelectValue="peopleEmit" />
        <SearchInputSelectBox class="mb-4" selectBoxLavelProp='天気' :selectMapProp=weatherMap
            :selectValueProp=store.state.weatherSelectVal @updateSelectValue="weatherEmit" />
        <SearchInputSelectBox class="mb-4" selectBoxLavelProp='場所' :selectMapProp=placeMap
            :selectValueProp=store.state.placeSelectVal @updateSelectValue="placeEmit" />
        <SearchInputSelectBox class="mb-4" selectBoxLavelProp='ジャンル' :selectMapProp=genreMap
            :selectValueProp=store.state.genreSelectVal @updateSelectValue="genreEmit" />
    </div>
</template>

<script setup lang="ts">

import { ref } from 'vue';
import { useStore } from "vuex";
import { ApiService } from "@/service/ApiService"
import { ConditionsData } from '@/model/ConditionsData';
import { SearchRequest } from '@/model/SerachRequest'
import SearchInputSelectBox from '@/components/parts/search/SearchInputSelectBox.vue'

// インスタンス
const apiService = new ApiService();
const store = useStore();

// 変数
const searchRequest = ref<SearchRequest>(new SearchRequest());

const genreMap = ref<Map<number, string>>(new Map);
const placeMap = ref<Map<number, string>>(new Map);
const peopleMap = ref<Map<number, string>>(new Map);
const weatherMap = ref<Map<number, string>>(new Map);


// 選択値初期化
store.commit("setPeopleSelectVal", 99);
store.commit("setPlaceSelectVal", 99);
store.commit("setGenreSelectVal", 99);
store.commit("setWeatherSelectVal", 99);

/**
 * セレクトボックス選択値取得
 */
apiService.getConditionsData().then((ret: ConditionsData) => {
    ret.genreList?.forEach((genre) => {
        genreMap.value.set(genre.genreId, genre.genreName);
    })
    ret.peopleList?.forEach((people) => {
        peopleMap.value.set(people.peopleId, people.peopleName);
    })
    ret.placeList?.forEach((place) => {
        placeMap.value.set(place.placeId, place.placeName);
    })
    ret.weatherList?.forEach((weather) => {
        weatherMap.value.set(weather.weatherId, weather.weatherName);
    })
});


/**
 * 人数取得
 * @param value 
 */
const peopleEmit = (value: number) => {
    console.log(value);
    store.commit("setPeopleSelectVal", value);
}

/**
 * 天気取得
 * @param value 
 */
const weatherEmit = (value: number) => {
    console.log(value);
    store.commit("setWeatherSelectVal", value);
    searchRequest.value.weatherVal = value;
}

/**
 * 場所取得
 * @param value 
 */
const placeEmit = (value: number) => {
    console.log(value);
    store.commit("setPlaceSelectVal", value);
    searchRequest.value.placeVal = value;
}
/**
 * ジャンル取得
 * @param value 
 */
const genreEmit = (value: number) => {
    console.log(value);
    store.commit("setGenreSelectVal", value);
    searchRequest.value.genreVal = value;
}

</script>

<style>
.searchField {
    margin-bottom: 64px;
}
</style>