<template>
    <div class="login-card card mx-4">
        <h4 class="login-title fw-bold text-start ms-4 mt-4">ログイン</h4>
        <LoginFormInput placeHolderText='USERNAME' inputIcon='fa-solid fa-user' @updateInputText="getUserInput" />
        <LoginFormInput placeHolderText='PASSWORD' inputIcon='fa-solid fa-lock' @updateInputText="getPassInput" />
        <LoginFormSubmit buttonLavelProp='ログイン' @subButtonEmit="login" />
    </div>
</template>

<script setup lang="ts">
import { ref } from 'vue'
import LoginFormInput from '@/components/parts/login/LoginFormInput.vue'
import { LoginInfoObject } from '@/model/LoginInfoObject'
import { useRouter } from "vue-router";
import LoginFormSubmit from '@/components/parts/login/LoginFormSubmit.vue'

const router = useRouter();

const loginInfoObject = ref<LoginInfoObject>(new LoginInfoObject());

/**
 * ユーザー名取得
 */
const getUserInput = (value: string) => {
    loginInfoObject.value.username = value;
}

/**
 * パスワード取得
 */
const getPassInput = (value: string) => {
    loginInfoObject.value.password = value;
}

/**
 * ログイン処理
 */
const login = () => {
    console.log(loginInfoObject.value);
    router.push('/manage');
}
</script>

<style lang="scss">
.login-card {
    box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.16);
    overflow: hidden;
}
</style>