<template>
  <div class="home">
    <HomePage />
  </div>
</template>

<script setup lang="ts">
import HomePage from '@/components/pages/HomePage.vue';
</script>
<style>
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}
</style>