<template>
    <SearchPage />
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import SearchPage from '@/components/pages/SearchPage.vue'

const SearchView = defineComponent({
    name: 'NewsView',
    components: {
        SearchPage
    },
})
export default SearchView;

</script>
<style>
</style>