<template>
    <div v-if="props.modalFlag">
        <div class="modalWrapper">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <p v-html="props.modelText"></p>
                    </div>
                    <div class="modal-footer">
                        <button v-on:click="deletePlayInfo" type="button" class="btn btn-primary">削除</button>
                        <button v-on:click="deleteCancel" type="button" class="btn btn-secondary">キャンセル</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script setup lang="ts">
import { useStore } from "vuex";
import { defineEmits, defineProps, withDefaults } from 'vue'

// Props
const props = withDefaults(
    defineProps<{
        modelText: string,
        modalFlag: boolean
    }>(),
    {
        modelText: '',
        modalFlag: false,
    }
);

const store = useStore();


// emit
const emit = defineEmits<{
    (e: 'deletePlayInfo'): any,
    (e: 'cancelDelete'): any,
}>();


const deletePlayInfo = () => {
    emit('deletePlayInfo');
}
const deleteCancel = () => {
    store.commit("setDeleteModalFlag", false);
}
</script>
<style lang="scss" scoped>
.modalWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    z-index: 1;
    top: 0;
}

.modal-dialog {
    width: 100%;
}

.v-enter-active {
    transition: 0.2s;
}

.v-enter-from,
.v-leave-to {
    opacity: 0;
}
</style>