<template>
    <div v-if="props.modalFlag">
        <div class="modalWrapper">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <p v-html="props.modelText"></p>
                    </div>
                    <div class="modal-footer">
                        <button v-on:click="modalOff" type="button" class="btn btn-secondary">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script setup lang="ts">
import { useStore } from "vuex";
import { defineProps, withDefaults, defineEmits } from 'vue'

const store = useStore();

// Props
const props = withDefaults(
    defineProps<{
        modelText: string,
        modalFlag: boolean,
    }>(),
    {
        modelText: '',
        modalFlag: false
    }
);

// emit
const emit = defineEmits<{
    (e: 'editModalEvent'): any,
}>();

const modalOff = () => {
    emit('editModalEvent');
    store.commit("setEditModalFlag", false);
}
</script>
<style lang="scss" scoped>
.modalWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    z-index: 1;
    top: 0;
}

.modal-dialog {
    width: 100%;
}

.v-enter-active {
    transition: 0.2s;
}

.v-enter-from,
.v-leave-to {
    opacity: 0;
}
</style>