<template>
    <h5 class="main-title">{{ props.titleText }}</h5>
</template>

<script setup lang="ts">
import { defineProps, withDefaults } from 'vue';

// Props
const props = withDefaults(
    defineProps<{
        titleText: string,
    }>(),
    {
        titleText: '',
    }
);
</script>
<style lang="scss" scoped>
.main-title {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}
</style>