<template>
    <h1>テストページ1</h1>
    <p>store.count : {{ store.count }}</p>
    <p>store.doubleCount: {{ store.doubleCount }}</p>
    <button v-on:click="store.increment">PLUS</button>
    <button v-on:click="store.decrement">MINUS</button>
</template>

<script setup lang="ts">
import {useCounterStore} from '@/stores/index'
const store = useCounterStore();
</script>