<template>
    <div class="manage-add-submit m-4">
        <button v-on:click="buttonFunc" type="button" class="btn btn-primary">{{ props.buttonLavelProp }}</button>
    </div>
</template>

<script setup lang="ts">
import { defineProps, defineEmits, withDefaults } from 'vue';

// Props
const props = withDefaults(
    defineProps<{
        buttonLavelProp: string,
    }>(),
    {
        buttonLavelProp: '',
    }
);

// emit
const emit = defineEmits<{
    (e: 'subButtonEmit'): any,
}>();

const buttonFunc = () => {
    emit('subButtonEmit');
}

</script>
<style lang="scss">
.manage-add-submit {
    button {
        width: 100%;
    }
}
</style>