<template>
    <div class="input-group">
        <select placeholder="test" class="form-select" aria-label="Default select example">
            <option value=99 selected>{{ props.selectBoxLavelProp }}</option>
            <option v-for="[key, value] in selectMapProp" :key="value" :value="key"> {{ value }}</option>
        </select>
    </div>
</template>

<script setup lang="ts">
import { computed, defineProps, defineEmits, withDefaults, ref } from 'vue';

// Props
const props = withDefaults(
    defineProps<{
        selectBoxLavelProp: string,
        selectMapProp: Map<number, string>,
        selectValueProp: number,
    }>(),
    {
        selectBoxLavelProp: '',
    }
);


// emit
const emit = defineEmits<{
    (e: 'updateSelectValue', value: number): number,
}>();


</script>