<template>
    <input type="text" class="form-control" :placeholder="props.placeHolderText" v-model="modelInputValue">
</template>

<script setup lang="ts">
import { defineProps, defineEmits, withDefaults, ref, computed } from 'vue';

// Props
const props = withDefaults(
    defineProps<{
        placeHolderText: string,
    }>(),
    {
        placeHolderText: '',
    }
);

// emit
const emit = defineEmits<{
    (e: 'updateInputText', value: string): string,
}>();
const modelInputValue = computed({
    get: () => '',
    set: (value: string) => {
        emit('updateInputText', value);
    },
});
</script>

<style lang="scss">
</style>