<template>
    <div :id="props.topicObjectKey" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
        data-bs-parent="#accordionFlushExample">
        <div class="topic-card-wrapper mx-2">
            <li v-for="topic of props.topicObjectValue" v-bind:key="topic.topicSiteTitle">
                <a v-bind:href="topic.topicSiteUrl">
                    <div class="topic-card my-4 d-flex justify-content-between align-items-center">
                        <div class="topic-card-img me-2">
                            <img :src="topic.topicOgpUrl">
                        </div>
                        <div class="topic-card-text">
                            <p class="fw-bold text-start">{{ topic.topicSiteTitle }}</p>
                        </div>
                    </div>
                </a>
            </li>
        </div>
    </div>
</template>

<script setup lang="ts">
import { defineProps, withDefaults } from 'vue';
import { TopicObject } from '@/model/TopicObject'

// Props
const props = withDefaults(
    defineProps<{
        topicObjectKey: string,
        topicObjectValue: TopicObject[]
    }>(),
    {
        topicObjectKey: '',
    }
);

</script>

<style lang="scss">
.topic-card-text {
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 26px;
}

.topic-card-img {

    img {
        width: 140px;
        height: 120px;
        object-fit: cover;
        object-position: 50% 50%;
        border-radius: 10px;
    }
}
</style>